
.wrapper {
    text-align: center;
    border-radius: 13px;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    margin-left: 35rem;
    margin-right: 35rem;
    margin-top: 30px;
    padding: 2px 2px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}
.header h1 {
    color: #274da7;
    font-size: xxx-large;
}
.description {
    color: rgb(185, 183, 183);
}
.projects h1 {
    color: #274da7;
    font-size: xxx-large
}