.nav {
    display: flex;
    flex-direction: column;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
    height: 30rem;
    justify-content: space-between;
    border-radius: 13px;
    box-shadow: 0 10px 15px #274da7;
    float: left;
    margin-left: 20rem;
    text-align: center;
    background: rgb(45, 45, 45);
    cursor: pointer;
    /* background: linear-gradient(to left, rgb(31, 29, 29) 62.5%, #274da7 0%); */
}
.icons {
    width: 70px;
    height: auto;
}
.overlay {
    position: absolute;
    background-color: #274da7;
    overflow: hidden;
    width: 0;
    height: 69px;
    transition: .05s ease;
    margin-top: -76px;
    margin-left: 8px;
    border-radius: 40px;
}
.container:hover .overlay {
    width: 10%;
}
.text {
    margin-top:21px;
    margin-right: 17px;
}