.project {
    border-radius: 13px;
    background: rgb(41, 41, 41);
    margin-bottom: 30px !important;
    padding: 15px 15px;
}
.project:hover .projectDescription{
    color: white;
}
.project:hover .title {
    color: #274da7;
}
.project:hover {
    background: rgb(31, 29, 29);
}
.title {
    font-size: x-large;
}
.description {
    color: rgb(185, 183, 183);
}