.nav {
    display: flex;
    flex-direction: column;
    color:white;
    /* width: 10rem; */
    /* height: 15rem; */
    border-radius: 13px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    float: right;
    margin-right: 20rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30rem;
    justify-content: space-between;
    text-align: center;
    background: rgb(45, 45, 45);
    cursor: pointer;
    
    position: fixed;
    z-index: 99;
    right: 0;
    /* background: linear-gradient(to left, rgb(31, 29, 29) 62.5%, #274da7 0%); */
}
.icons {
    width: 70px;
    height: auto;
}